<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<button class="header__city-button">Ваш город?</button>
			<form action="/" class="header__city__form">
				<input
					type="text"
					class="header__city-input"
					placeholder="Введите Ваш город"
				/>
				<button class="header__city-form-btn">Готово!</button>
			</form>
			<div class="header__right-block">
				<p class="header__delivery">Бесконтактная доставка</p>
				<p class="header__pay">Платите чем хотите</p>
				<div class="header__birthday">
					<span>нам </span>
					<img
						class="header__birthday-img"
						src="/assets/images/35.svg"
						alt="35 years"
						draggable="false"
					/>
					<span>лет!</span>
				</div>
			</div>
		</div>
	</div>
</header>
