<section class="subheader">
	<div class="container">
		<div class="subheader__wrapper">
			<nav class="subheader__navigation navigation">
				<ul class="navigation__list">
					<li class="navigation__item">
						<a class="navigation__link" href="goods.html#women"
							>Женщинам</a
						>
					</li>
					<li class="navigation__item">
						<a class="navigation__link" href="goods.html#men"
							>Мужчинам</a
						>
					</li>
					<li class="navigation__item">
						<a class="navigation__link" href="goods.html#kids"
							>Детям</a
						>
					</li>
				</ul>
			</nav>
			<a class="subheader__logo" href="index.html"
				><img src="./assets/images/logo.svg" alt="Компания Lomoda"
			/></a>
			<button class="subheader__cart">Корзина</button>
		</div>
	</div>
</section>
